<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Stepik QA service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<main class="container mt-3">
    {% for question in questions %}
        <div class="card mb-4">
            <div class="card-body px-4">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-9">
                        <a class="text-dark" href="{{ question.get_absolute_url }}"><h2 class="h2 pb-2">{{ question.title }}</h2></a>
                        <p>{{ question.rating }}</p>
                        <p>{{ question.text }}</p>
                        <p class="text-muted pt-1">{{ question.added_at }}</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                        <p>{{ question.author }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
</main>
{#{% if page.next_page_number %}#}
{#    <a href="{{ paginator.baseurl }}{{ page.next_page_number }}"> Следующая страница</a>#}
{#{% endif %}#}

<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
                {% else %}
            <li>
        {% endif %}
    <a href="{{ paginator.baseurl }}{{ p }}">
        {{ p }}</a>
    </li>
    {% endfor %}
</ul></nav>

</body>
</html>