<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asks</title>
</head>
<body>

{% for question in questions %}
    <p>{{ question.title }}</p>
    <p>{{ question.id }}</p>
{% endfor %}

{#{% if page.next_page_number %}#}
{#    <a href="{{ paginator.baseurl }}{{ page.next_page_number }}"> Следующая страница</a>#}
{#{% endif %}#}

<nav><ul class="pagination">
    {% for p in paginator.page_range %}
        {% if p == page.number %}
            <li class="active">
                {% else %}
            <li>
        {% endif %}
    <a href="{{ paginator.baseurl }}{{ p }}">
        {{ p }}</a>
    </li>
    {% endfor %}
</ul></nav>

</body>
</html>